.container {
  background: url('../public/bg.jpg');
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

h1 {
  font-size: 3.5rem;
  color: #FFFFFF;
}

p {
  font-size: 1.5rem;
  color: #FFFFFF;
}

.moon {
  animation: bounce 2s ease-in-out infinite;
  color: #FFFFFF;
}

@keyframes bounce {
  100%, 0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40px);
  }
}

.landing-btn{
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1.25rem 2rem;
  font-size: 1.5rem;
  border-radius: 30px;
  border: none;
  background: #8a2be2;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

.landing-btn:hover,
.landing-btn:focus {
  background: transparent;
}