.container-blog {
    background-color: #F0F0F0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #000000;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #212121;
    width: 80%;
    padding: 2em;
}

main .head {
    text-align: left;
    width: 80%;
    font-size: 1.3rem;
}

.mood-boxes {
    display: grid;
    gap: 1em;
}

.mood-box {
    border: 1px solid #FFFFFF;
    padding: 2em;
}

.moon-img {
    height: 50px;
    background: transparent;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.form-submission {
    width: 80%;
    display: flex;
    gap: 1em;
    color: #FFFFFF;
}

textarea {
    width: 80%;
    height: 150px;
}

.btn-submit,
.btn-cancel {
    border: none;
}

.btn-submit {
    width: 70%;
    background-color: blue;
    padding: 2em;
    color: inherit;
}

.btn-cancel {
    min-width: 30%;
    background-color: rgb(63, 63, 56);
    text-decoration: none;
    color: inherit;
    padding: 1.5em;
    text-align: center;
}