.container-blog {
    background-color: #F0F0F0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-blog h1 {
    color: #000000;
}

.container-blog main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #212121;
    width: 80%;
    padding: 5em 2em 4em;
}

.container-blog nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

main .head {
    text-align: left;
    width: 80%;
    font-size: 1.3rem;
}

.mood-boxes {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.mood-box {
    border: 1px solid #FFFFFF;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    border-radius: 10px;
    cursor: pointer;
}

.mood-box:hover,
.mood-box:focus {
    background-color: #000000;
}

.mood-box.selected {
    background-color: #000000;
    border: 1px solid #8a2be2;
}

.moon-img {
    height: 50px;
    background: transparent;
}

.mood-title {
    font-weight: 700;
    font-size: 1.2rem;
}


.mood-text {
    border: 1px solid #FFFFFF;
    width: 80%;
    text-align: center;
    padding: 3em;
    margin-top: 3em;
    font-style: italic;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

form h3 {
    text-align: left;
    width: 80%;
    color: #FFFFFF;
}

form .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 3em;
}

.form-submission {
    width: 80%;
    display: flex;
    gap: 1em;
    color: #FFFFFF;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 1em;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea:focus {
    outline: none;
}

.btn-submit,
.btn-cancel {
    border: none;
}

.btn-submit {
    width: 70%;
    background-color: blue;
    padding: 2em;
    color: inherit;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-cancel {
    min-width: 30%;
    background-color: rgb(63, 63, 56);
    text-decoration: none;
    color: inherit;
    padding: 1.5em;
    text-align: center;
}