.container-dashboard {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.dash-moon {
    color: #000000;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-15px);
    }
}

.dash-h1{
    color: #000000;
}

.nav-links {
    display: flex;
    gap: 1em;
}

.btn-thoughts,
.btn-export {
    text-decoration: none;
    background-color: #000000;
    padding: 1em 2em;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 3em;
}

.dash-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    width: 100%;
}

.book-open,
.calendar,
.sparkles {
    color: #FFFFFF;
    grid-area: icon;
}

.dash-box {
    background-color: #212121;
    padding: 2em;
    display: grid;
    grid-template-areas: 
    'icon head head'
    'icon text text';
    gap: 1em;
}

.dash-box p {
    grid-area: text;
}

.dash-box .head {
    grid-area: head;
}

.thought-boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    margin-top: 3em;
}

h2 {
    grid-area: title;
}

.thought-boxes .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

.thought-box {
    background-color: yellow;
    padding: 1em 2em;
}