.container-dashboard {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.dash-moon {
    color: #FFFFFF;
}