@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: inherit;
  text-decoration: none;
}

.message-actions .btn-delete {
  width: 100%;
}